:root {
    --maincolor: #3498db;
    --subcolor: rgb(165, 212, 195);
}

.top {
    grid-area: top1;
    display: grid;
    grid-template-areas: 'logo redirectHelp redirectProducts redirectForums';
    grid-template-columns: 10vw 1fr 1fr 1fr;

    background-color: var(--subcolor);
    column-gap: normal;
    text-align: center;
    height: 21vh;
    padding: 1vw;
}

#index {   
    background-color: beige;
    background-size: cover;
    display: grid;
    grid-template-areas: 'top1' 'quote';
    height: 100vh;
    
}

.logo {
    grid-area: logo;
    width: 100%;
}

.redirectHelp {
    grid-area: redirectHelp;
    background-color: var(--maincolor);
    border-radius: 1vw;
    margin-left: 1vw;
}

.redirectProducts {
    grid-area: redirectProducts;
    background-color: var(--maincolor);
    border-radius: 1vw;
    margin-left: 1vw;
}


.redirectForums {
    grid-area: redirectForums;
    background-color: var(--maincolor);
    border-radius: 1vw;
    margin-left: 1vw;
}

#quote {
    grid-area: quote;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: var(--maincolor);
    grid-template-areas: 'a' 'b';
    color: black;
    width: 30vw;
    border-radius: 2vw;
    padding: 1vw;
    height: fit-content;
    margin-left: 9vw;
}

#quoteA {
    grid-area: a;
}

#quoteB {
    grid-area: b;
}

.doctors {
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
}

#listDoctors {
    background-color: var(--subcolor);
    width: 40vw;
    height: 60vh;
    margin-left: 8vw;
    order: 1;
    border-radius: 1vw;
}

#doctor1 {
    background-color: var(--maincolor);
    border-radius: 1vw;
    display: flex;
    flex-direction: row;
    width: 39vw;
    height: 13vh;
    margin-left: 0.5vw;
    margin-top: 1vh;

}

#doctor1img {
    border-radius: 1vw;
    margin-right: 1vw;
    margin-left: 0.5vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
}

#doctor1nameAndDesc {
    display: flex;
    flex-direction: column;
}

#mainDoctor {
    display: flex;
    flex-direction: column;
    background-color: var(--maincolor);
    width: 40vw;
    height: 60vh;
    margin-left: 4vw;
    order: 2;
    border-radius: 1vw;
    text-align: center;
}

#imgDrMario {
    display: flex;
    height: 20vh;
    border-radius: 100vw;
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 3vh;
}

#descDrMario {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-right: 3vw;
}