:root {
    --maincolor: #3498db;
    --subcolor: rgb(165, 212, 195);
}

.top {
    grid-area: top1;
    display: grid;
    grid-template-areas: 'logo redirectHelp redirectProducts redirectForums';
    grid-template-columns: 10vw 1fr 1fr 1fr;

    background-color: var(--subcolor);
    column-gap: normal;
    text-align: center;
    height: 21vh;
    padding: 1vw;
}

#index {   
    background-color: beige;
    background-size: cover;
    display: grid;
    grid-template-areas: 'top1' 'quote';
    height: 100vh;
    
}

.logo {
    grid-area: logo;
    width: 100%;
}

.redirectHelp {
    grid-area: redirectHelp;
    background-color: var(--maincolor);
    border-radius: 1vw;
    margin-left: 1vw;
}

.redirectProducts {
    grid-area: redirectProducts;
    background-color: var(--maincolor);
    border-radius: 1vw;
    margin-left: 1vw;
}


.redirectForums {
    grid-area: redirectForums;
    background-color: var(--maincolor);
    border-radius: 1vw;
    margin-left: 1vw;
}

#quote {
    grid-area: quote;
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: var(--maincolor);
    grid-template-areas: 'a' 'b';
    color: black;
    width: 30vw;
    border-radius: 2vw;
    padding: 1vw;
    height: fit-content;
    margin-left: 9vw;
}

#quoteA {
    grid-area: a;
}

#quoteB {
    grid-area: b;
}
